[vc_row row_height_percent="0" overlay_alpha="50" equal_height="yes" gutter_size="0" column_width_percent="100" shift_y="0" z_index="0" uncode_shortcode_id="561399" el_class="gophr--module gophr--browser-height gophr--mod-hero gophr--bg-dark hero-v2-0 hero-image-col-bg" shape_dividers=""][vc_column width="5/12"][vc_custom_heading heading_semantic="h1" text_size="h1" uncode_shortcode_id="510326"]Module: Hero v2.0 (snap on scroll up/down)[/vc_custom_heading][vc_column_text uncode_shortcode_id="335393" el_class="gophr--text-underline"]SUB HEADER[/vc_column_text][vc_column_text uncode_shortcode_id="206721"]Curabitur scelerisque dui non tortor egestas:[/vc_column_text][uncode_list uncode_shortcode_id="184605" el_class="gophr--list"]
<ul>
 	<li><strong>1,274</strong>
Quality couriers available on demand or pre scheduled</li>
 	<li><strong>11,522</strong>
Always trackable, brandable, carbon neutral deliveries</li>
 	<li><strong>1.04 billion</strong>
Delivering in all major cities nationwide</li>
 	<li><strong>West Midlands</strong></li>
 	<li><strong>North West</strong></li>
 	<li><strong>South East</strong></li>
</ul>
[/uncode_list][vc_column_text uncode_shortcode_id="163927" el_class="gophr--text-link"]<a href="http://www.google.com" target="_blank" rel="noopener">Link text here</a>[/vc_column_text][/vc_column][vc_column width="7/12"][vc_single_image media="88242" media_width_percent="100" uncode_shortcode_id="159148"][/vc_column][/vc_row]